<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ync.mapper.BoardMapper">
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							id like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getList" resultType="kr.ync.domain.BoardVO">
	<![CDATA[
		select * from tbl_l_board where idx > 0 
		]]>
	</select>
	
	<insert id="insert">
		insert into tbl_l_board (idx, title, content, img, id, local_sub_idx)
		values (seq_l_board.nextval, #{title}, #{content}, #{img}, #{id}, #{local_sub_idx})
	</insert>
	
	<insert id="local_insert">
		insert into local (local_idx, local_name)
		values (#{local_idx}, #{local_name})
	</insert>
	
	<insert id="insertSelectKey">

		<selectKey keyProperty="idx" order="BEFORE"
			resultType="int">
			select seq_l_board.nextval from dual
		</selectKey>

		insert into tbl_l_board (idx, title, content, img, id, local_sub_idx)
		values (#{idx}, #{title}, #{content}, #{img}, #{id}, #{local_sub_idx})
	</insert>
	
	<select id="read" resultType="kr.ync.domain.BoardVO">
		select * from tbl_l_board where idx =	#{idx}
	</select>


	<delete id="delete">
		delete tbl_l_board where idx = #{idx}
	</delete>
 
	<update id="update">
		update tbl_l_board
		set title= #{title},
		content=#{content},
		id = #{id}
		where idx =
		#{idx}
	</update>
	
	<select id="getListWithPaging" resultType="kr.ync.domain.BoardVO">
		<![CDATA[
		SELECT	idx,
				title,
				content,
				img,
				id,
				local_sub_idx
		FROM	(SELECT /*+INDEX_DESC(tbl_l_board pk_board) */
        				rownum rn,
        				idx,
						title,
						content,
						img,
						id,
						local_sub_idx
      			FROM	tbl_l_board
				WHERE 
  		]]>
		<include refid="criteria"></include> 
      
		<![CDATA[    
      			rownum <= #{pageNum} * #{amount}
      			)
  		WHERE rn > (#{pageNum} -1) * #{amount}   
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_l_board where 
		
		<include refid="criteria"></include>
		
		<![CDATA[
		idx > 0
		]]>
	</select>
	
	<update id="updateReplyCnt">
		UPDATE tbl_l_board SET replycnt = replycnt + #{amount} WHERE idx = #{idx}
	</update> 
</mapper>
